
#header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
}

.header__img-wrapper {
  flex-grow: 1;
}

/* #main {
  overflow: auto;
  padding-bottom: 40px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
} */

.container {
    height: 300px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.container:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.element {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
}


.container {
  display: wrap;
  /* min-height: 100%; */
  background-color: #fff;
}

.image-wrapper{
  height: 150px;
  justify-content: space-around;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
}
