acct.bionimbus.org/manifest.json @ac3eb @fantix
caninedc.org/manifest.json @trevars @fantix
data.bloodpac.org/manifest.json @fantix
tbi.datacommons.io/manifest.json @trevars @fantix

data.braincommons.org/manifest.json @dgrantkeane @m0nhawk
dataprep.braincommons.org/manifest.json @dgrantkeane @m0nhawk
staging.braincommons.org/manifest.json @dgrantkeane @m0nhawk
gen3testing.braincommons.org/manifest.json @dgrantkeane @m0nhawk

gen3.theanvil.io/manifest.json @GARUPP-zz @Avantol13
staging.theanvil.io/manifest.json @GARUPP-zz @Avantol13
internalstaging.theanvil.io/manifest.json @GARUPP-zz @Avantol13

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @Avantol13
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @Avantol13
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @Avantol13

ibdgc.datacommons.io/manifest.json @gkuffel @paulineribeyre
jcoin.datacommons.io/manifest.json @gkuffel @paulineribeyre

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @jiaqi216
nci-crdc.datacommons.io/manifest.json @ADParedes @jiaqi216

gen3.datacommons.io/manifest.json @cgmeyer
