acct.bionimbus.org/manifest.json @trevars @leasalvatore
caninedc.org/manifest.json @trevars @leasalvatore
data.bloodpac.org/manifest.json @trevars @leasalvatore

data.braincommons.org/manifest.json @dgrantkeane @m0nhawk
dataprep.braincommons.org/manifest.json @dgrantkeane @m0nhawk
staging.braincommons.org/manifest.json @dgrantkeane @m0nhawk
gen3testing.braincommons.org/manifest.json @dgrantkeane @m0nhawk

gen3.theanvil.io/manifest.json @GARUPP-zz @Avantol13
staging.theanvil.io/manifest.json @GARUPP-zz @Avantol13
internalstaging.theanvil.io/manifest.json @GARUPP-zz @Avantol13

tbi.datacommons.io/manifest.json @gkuffel 
ibdgc.datacommons.io/manifest.json @gkuffel

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @jiaqi216
nci-crdc.datacommons.io/manifest.json @ADParedes @jiaqi216

gen3.datacommons.io/manifest.json @cgmeyer
