#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
}

.top-bar {
    width: 100%;
    height: 40px;
    background-color: #1a3057;
}

.top-bar__header {
    background-color: #1a3057;
}

.top-bar__nav {
    float: right;
    color: #FFFFFF;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

.nav-bar__header {
    background-color: white;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    align-items: left;
    margin-left: 200px;
}

.nav-bar__logo {
    padding: 8px 0;
    display: inline-block;
}

.nav-bar__logo-img {
    height: 64px;
    display: block;
    padding-right: 8px;
}

.main-content {
    font-family: 'Source Sans Pro', sans-serif;
    bottom: 100px;
    width: 80%;
    height: max-content;
    margin-left: 200px;
    background: #ffffff;
}


/* sidenavigation */
.sidenav {
    height: 50%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    margin-top: 120px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #1a3057;
    display: block;
  }
  
  .sidenav a:hover {
    color: #C62C2E;
  }
  .sidenav a:active {
    background-color:#e4e4e6;
    color: #C62C2E;
  }
  .sidenav a:visited {
    background-color:#e4e4e6;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* END sidenavi */


.publication-info {
    width: 70%;
    z-index: 1;
    margin: 0 auto;
}

.documentation-info {
    z-index: 1;
    margin: 0 auto;
}

.other-info {
    padding-bottom: 50px;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
}

.title {
    width: 70%;
    z-index: 1;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
    width: 100%;
    background-color: #1a3057;
    height: 100px;
}

.footer__logo-area {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer__img {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

h1,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    line-height: 1.5em;
    font-size: 34px;
    color:#1a3057;
    text-align: left;
}

h2 {
    font-weight: 600;
    line-height: 1em;
    font-size: 28px;
    color: #000000;
}

h3 {
    font-weight: 400;
    line-height: 1em;
    font-size: 26px;
    color: #000000;
}

h4 {
    font-weight: 400;
    line-height: 1em;
    font-size: 20px;
    color: #000000;
}

h5 {
    font-weight: 400;
    line-height: 1em;
    font-size: 17px;
    color: #2b5eb7;
}

.section-title {
    padding-top: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#more {
    display: none;
}

#read-more-btn {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

ul, ol {
    padding: 0;
    margin-left: 1em;
    font-weight: 400;
    padding-left: 5x;
}
figcaption {
    font-weight: bold;
    color: #8c8c8d;
    padding: 2px;
    
}
a:link {
    color: #1a3057;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:#C62C2E;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color:#C62C2E;
    background-color: transparent;
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
}

.arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    }
    .arrow a{
    height: 39px;
    width: 37px;
    text-align: center;
    background: #1a3057;
    display: block;
    border-radius: 3px;
    }
    .arrow a span{
    color: #f2f2f2;
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
    }