#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.top-bar {
    width: 100%;
    height: 40px;
    background-color: #3283C8;
}

.top-bar__header {
    background-color: #3283C8;
}

.top-bar__nav {
    float: right;
    color: #FFFFFF;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

.nav-bar__header {
    background-color: white;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    align-items: left;
}

.nav-bar__logo {
    padding: 8px 0;
    display: inline-block;
}

.nav-bar__logo-img {
    height: 64px;
    display: block;
    padding-right: 8px;
}

.error-msg {
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px;
}

.error-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: auto;
    width: 100%;
    background-color: #4A4A4A;
    height: 100px;
}

.footer__logo-area {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__img {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

h1,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 600;
    line-height: 2em;
    font-size: 32px;
    letter-spacing: 0;
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.6em;
    letter-spacing: 0.02rem;
    color: #000000;
}

.login-page {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

@media screen and (max-width: 820px) {
    .login-page {
        justify-content: center;
    }
}

.login-page__side-box {
    width: 200px;
    background-size: 200px;
}

.login-page__central-content {
    text-align: center;
    flex-basis: 50%;
    color: #000000;
    align-self: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 820px) {
    .login-page__central-content {
        padding: 40px 10px;
    }

    .login-page__side-box {
        display: none;
    }
}

.login-page__title {
    margin-bottom: 11px;
    line-height: 40px;
}

.login-page__sub-title {
    text-transform: uppercase;
}

.login-page__separator {
    width: 30px;
    height: 5px;
    text-align: center;
    background-color: #9b9b9b;
    margin: 17px auto;
}

.login-page__entries {
    display: block;
    margin: 15px auto;
    width: 400px;
}

.login-page__entry-button {
    width: 400px;
}

@media screen and (max-width: 820px) {
    .login-page__entries {
        width: auto;
    }

    .login-page__entry-button {
        width: auto;
    }
}

.login-page .login-page__central-content {
    flex-flow: row wrap;
    justify-content: center;
}

.login-page .login-page__central-content>div,
.login-page .login-page__central-content>h1 {
    flex-basis: 100%;
}

.login-page .login-page__central-content>div.login-page__entries {
    flex-basis: auto;
}

.login-page .login-page__title {
    display: block;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 59px;
    overflow: hidden;
    text-indent: -9999px;
    margin-bottom: 20px;
}

.login-page .login-page__sub-title {
    font-size: 24px;
}

.login-page .login-page__separator {
    display: none;
}

.login-page .body-typo {
    margin-top: 16px;
}


.login-page .login-page__entries {
    width: 200px;
    margin: 40px auto;
}

.login-page .login-page__entry-button {
    width: 200px;
}