#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
}

.top-bar {
    width: 100%;
    height: 4vh;
    background-image: linear-gradient(to left, #ffffff, #46829D, #46829D);
}

.top-bar__header {
    background-color: #1a3057;
    width: 100%;
}

.top-bar__nav {
    float: right;
    color: #FFFFFF;
}

.nav-bar {
    width: 100%;
    height: 9.5vh;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

.nav-bar__header {
    background-color: white;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: left;
    margin-left: 30px;
}

.nav-bar__logo {
    /* padding: 1vh 0; */
    display: inline-block;
}

.nav-bar__logo-img {
    height: 8vh;
    display: block;
    padding-top: 1vh;
}

.main-content {
    font-family: 'Source Sans Pro', sans-serif;
    /* bottom: 100px; */
    width: 100%;
    background: #ffffff;
    flex-direction: row;
    overflow-y: auto;
}

.main-content-container {
    font-family: 'Source Sans Pro', sans-serif;
    /* bottom: 100px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 75vh;
    /* 80vh ; max-content*/
}

.main-content-text {
    margin-left: 100px;
    margin-right: 150px;
}


/* sidenavigation */

.sidenav {
    width: 25%;
    z-index: 1;
    /* background-color: #f1eeef; */
    overflow-x: hidden;
    /* margin-top: 50px; */
    position: flex;
    overflow-y: auto;
    padding-top: 3vh;
    padding-bottom: 2vh;
    border-right: 3px solid #f1eeef;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.sidenav a:hover {
    color: #46829D;
    text-decoration: underline;
}

.sidenav a:active {
    background-color: #dddddd;
    color: #46829D;
    font-weight: bold;
}

.sidenav a:visited {
    background-color: #dddddd;
    color: #46829D;
}

.ul-sidenav {
    padding-left: 10px;
}

.ul-sidenav-sub-sub {
    padding-left: 30px;
    display: table;
}

.ul-sidenav-sub {
    padding-left: 15px;
    display: table;
    color: #c3cbcf;
}

.sidenav-head {
    font-weight: bold;
    font-size: 18px;
}

.main {
    margin-left: 500px;
    /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* END sidenavi */

.publication-info {
    width: 70%;
    z-index: 1;
    margin: 0 auto;
}

.documentation-info {
    z-index: 1;
    margin: 0 auto;
}

.other-info {
    padding-bottom: 50px;
    width: auto;
    z-index: 1;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-image: linear-gradient(to right, #ffffff, #46829D, #46829D);
    height: 11vh;
    padding: 0 20px;
    align-content: space-around;
    bottom: 0;
    position: fixed;
}

.footer__logo-area {
    display: block;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.footer__img {
    height: 7vh;
    margin-top: 1vh;
    margin-right: 20px;
}

h1 {
    /* line-height: 1.5em;*/
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    color: #373a3c;
    text-align: left;
    margin-top: 2vh;
    font-family: "Source Sans Pro", bold, sans-serif;
}

h2 {
    font-weight: bold;
    text-align: left;
    line-height: 1em;
    /* font-size: 28px; */
    color: #373a3c;
    padding-top: 300px;
}

h3 {
    line-height: 1em;
    text-align: left;
    font-size: 24px;
    color: #818a91;
    padding-top: 300px;
}

h4 {
    line-height: 1em;
    text-align: left;
    font-weight: normal;
    font-size: 24px;
    color: #373a3c;
    padding-top: 10%;
}

h5 {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    color: #373a3c;
}

h6 {
    text-align: left;
    line-height: 1em;
    font-weight: bold;
    font-size: 20px;
    color: #373a3c;
}

.tab {
    text-indent: 40px;
}

.section-title {
    padding-top: 2vh;
}

html {
    height: 100%;
    display: flex;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 1080px;
}

blockquote {
    font-size: 18px;
    color: #373a3c;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 6px solid #a8acaf;
}

#more {
    display: none;
}

#read-more-btn {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

ul,
ol,
li {
    padding: 0;
    margin-left: 1.5em;
    font-weight: 400;
    padding-left: 5x;
    width: 90%;
}

figcaption {
    font-size: 14px;
    font-style: italic;
    padding: 2px;
    width: 80%;
}

.drop-shadow {
    filter: drop-shadow(8px 2px 10px #818a91);
}

a:link {
    color: #46829D;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #46829D;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #46829D;
    text-decoration: underline;
    font-weight: bold;
}

.a:visited {
    color: #46829D;
}

html {
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
}

.arrow a {
    height: 39px;
    width: 37px;
    text-align: center;
    background: #8aa9b8;
    display: block;
    border-radius: 3px;
}

.arrow a span {
    color: #46829D;
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
}


/* Table */

th,
td {
    padding: 8 px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

code {
    font-size: 14px;
    color: #dddddd;
    background: #46829D;
}


/* boxes for image hover*/

.image-list-small {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    padding: 0;
}

.image-list-small li {
    display: inline-block;
    width: 250px;
    /* initially 181px */
    height: 100%;
    /* initially not there */
    margin: 0 12px 30px;
}

.image-list-small li>a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 137px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
    transition: .25s;
    width: 100%;
}

.image-list-small li img {
    width: 100%;
    /* To make the images responsive */
    height: auto;
}

.image-list-small li>a:hover {
    transform: scale(1.1);
    transition: .25s;
}

.image-list-small .details {
    margin-top: 13px;
    text-align: center;
}

.image-list-small .details h6 {
    display: block;
    font-size: 14px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.image-list-small .details h6 a {
    color: #303030;
    text-decoration: none;
}

.image-list-small .details .image-author {
    display: block;
    color: #717171;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

@media only screen and (max-wdith: 640px) {
    .image-list-small {
        max-width: 100%;
    }
    .image-list-small li>a {
        width: 50%;
    }
}