:root {
  --g3-color__base-blue: #194C90;
  --g3-color__base-blue-light: #2466AC;

  --g3-color__highlight-orange-white-text: #994A03;
  --g3-color__highlight-orange-white-text-light: #B35F05;
  
  --g3-primary-btn__bg-color: var(--g3-color__highlight-orange-white-text-light);
  --g3-primary-btn__bg-color--hover: var(--g3-color__highlight-orange-white-text);

}

.popup__title {
  background-color: var(--g3-color__base-blue);
}

.nav-bar__logo {
  padding: 10px 0;
}

.nav-bar__logo-img {
  height: 60px;
}

.footer__version-area {
  width: 600px;
}

.login-page .login-page__central-content {
  flex-flow: row wrap;
  justify-content: center;
}

.login-page .login-page__central-content > div,
.login-page .login-page__central-content > h1 {
  flex-basis: 100%;
}

.login-page .login-page__central-content > div.login-page__entries {
  flex-basis: auto;
}

.login-page .login-page__title {
  display: block;
  background-image: url(/custom/sponsors/gitops-sponsors/login-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 59px;
  overflow: hidden;
  text-indent: -9999px;
  margin-bottom: 20px;
}

.login-page .login-page__sub-title {
  font-size: 24px;
}

.login-page .login-page__separator {
  display: none;
}

.login-page .body-typo {
  margin-top: 16px;
}


.login-page .login-page__entries {
  width: 200px;
  margin: 40px auto;
}

.login-page .login-page__entry-button {
  width: 200px;
}
