.nav-bar__logo {
  padding: 15px 0;
}

.nav-bar__logo-img {
  height: 50px;
}

.login-page__side-box {
  background-repeat: round;
}

/* adjust spacing for added footer links */
.protected-content,
.login-page__side-box {
  min-height: calc(100vh - 263px);
}
